{% extends "base.html" %}
{% block login %}
    {% with user.username as username %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block content %}
    <div class="panel right">
        <h1>Share something, drop a note!</h1>
        <p>
            <form action="/submit" method="post">
            {% for field in note_form %}{% csrf_token %}
            {{ field }}
            {% endfor %}
            <input type="hidden" value="{{ next_url }}" name="next_url">
            <input type="submit" value="Note!">
            </form>
        </p>
    </div>
    <div class="panel left">
        <h1>Daddy notes! Put your interesting ones here!</h1>
        {% for note in notes %}
        <div class="noteWrapper">
            <a href="/users/{{ note.user.username }}">
                <img class="avatar" src="{{ note.user.profile.gravatar_url }}">
                <span class="name">{{ note.user.first_name }}</span>
            </a>
            @{{ note.user.username }}
            <p>
                {{ note.content }}
            </p>
        </div>
        {% endfor %}
    </div>
{% endblock %}
